<div class="mt-4">
    <h3>Cập nhật khoá học</h3>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT" class="mt-4">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khoá học</label>
            <input class="form-control" id="name" name="name" value="{{course.name}}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả khoá học</label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="videoID" class="form-label">Video ID</label>
            <input class="form-control" id="videoID" name="videoID" value="{{course.videoID}}">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Trình độ</label>
            <input class="form-control" id="level" name="level" value="{{course.level}}">
        </div>
        <button type="submit" class="btn btn-primary">Sửa</button>
    </form>
</div>