<div class="mt-4">
    <div>
        <h2>Khoá học của tôi</h2>
        <a href="/me/trash/courses">Thùng rác</a>
    </div>

    <table class="table table-striped table-bordered mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <td scope="col">Tên khoá học</td>
                <td scope="col">Trình độ</td>
                <td scope="col" colspan="2">Thời gian tạo</td>
            </tr>
        </thead>
        <tbody>
            {{#each courses as |item|}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{item.name}}</td>
                <td>{{item.level}}</td>
                <td>{{item.createdAt}}</td>
                <td>
                    <a href="/courses/{{item._id}}/edit" class="btn btn-success">Sửa</a>
                    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-course-modal"
                        data-id="{{item._id}}">Xoá</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng khoá học nào
                    <a href="/courses/create">Thêm khoá học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="delete-course-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá khoá học</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xoá ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-course">Xoá bỏ</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-course-form" method="POST">
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId
        var deleteCourseForm = document.forms['delete-course-form']
        var btnDeleteCourse = document.getElementById('btn-delete-course');

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseId = button.data('id')
        })

        btnDeleteCourse.onclick = function () {
            deleteCourseForm.action = '/courses/' + courseId + '?_method=DELETE'
            deleteCourseForm.submit()
        };
    });
</script>